.button {
    display: inline-flex;
    align-items: center;
    gap: 6px;

    color: var(--text-muted);
    font-size: 0.9rem;
    text-decoration: none;

    transition: color 0.2s ease;
}

.button:hover {
    color: var(--brand-strong);
}

.button p {
    margin: 0;
}

.button svg {
    font-size: 1.2em;
}
